$color-light: #dcdcdc;
$border-light: #9d9d9d;
$color-dark: #222222;
$border-dark: #7a7a7a;
$accent-color: #d45113;
$accent-hover: #ff7f44;
$accent-contrast: black;
$modal-dark: #222222dd;

.hidden {
	display: none;
}
nav {
	margin-bottom: 1em;
}
body {
	background-color: $color-light;
	color: $color-dark;
}

#create-post {
	.post-create-modal {
		background-color: $modal-dark;
		color: $color-light;
		padding: 2em 4em;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		filter: drop-shadow($color-dark 0px 0px 10px);
		backdrop-filter: blur(10px);
		border-radius: 1em;

		textarea {
			background-color: inherit;
			color: inherit;
			margin-bottom: 1em;
			padding: 0.5em;
			border: 1px solid $border-light;
		}
		button {
			width: 100%;
			padding: 1em 2em;
			background-color: $accent-color;
			color: $accent-contrast;
			border: none;
		}
		button:hover {
			background-color: $accent-hover;
		}
	}
}

#post-list {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	.modal-show-button {
		background-color: $accent-color;
		color: $accent-contrast;
		width: 50vw;
		padding: 1em;
		margin-bottom: 0.3em;
	}
	.modal-show-button:hover {
		background-color: $accent-hover;
	}

	.post {
		width: 50vw;
		background-color: $color-dark;
		color: $color-light;
		padding: 1em;
		margin-bottom: 0.3em;

		.post-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.post-bottom {
			display: flex;
			flex-direction: row;

			svg {
				width: 1em;
				height: 1em;
			}
		}
	}
}
